{% extends "front/base.html" %}

{% block main_content %}
<div style="width:400px">
	<form action="/contact/" method="POST">
		<fieldset>
			<div class="ctrlHolder">
				<label for="id_name" style="display:block">Name {{ form.name.errors }}</label>
				<input id="id_name" class="textInput" type="text" size="50" name="name"/>
			</div>
			<div class="ctrlHolder">
				<label for="id_email" style="display:block">Email {{ form.email.errors }}</label>
				<input id="id_email" class="textInput" type="text" size="50" name="name" />
			</div>
			<div class="ctrlHolder">
				<label for="id_message" style="display:block">Message {{ form.message.errors }}</label>
				<textarea id="id_message" name="body" cols="40" rows="18"></textarea>
			</div>
			{% if msg %}<span class="msg">{{ msg }}</span>{% endif %}

			<div class="buttonHolder"><input class="submit" type="submit" value="Send" /></div>
		</fieldset>
	</form>
</div>
{% endblock %}