<div id=header>
<div class="grid_12">
	<div id="admin-menu">
		<ul>
			<li class="top"><a href="/posts/">Posts</a></li>
			<li class="item"><a href="/post/new/">New Post</a></li>
		</ul>
		<ul>
			<li class="top"><a href="/pages/">Pages</a></li>
			<li class="item"><a href="/page/new/">New Page</a></li>
		</ul>
		<ul>
			<li class="top"><a href="/media/">Media</a></li>
			<li class="item"><a href="/media/upload/">Upload</a></li>
		</ul>
		<ul>
			<li class="top"><a href="/widgets/">Widgets</a></li>
			<li class="item"><a href="/widget/new/">New Widget</a></li>
		</ul>
	</div>
</div>
</div>