{% extends 'admin/base.html' %}

{% block content %}
<div class="grid_12">
	<table>
		<thead>
			<tr>
				<th class="first">Action</th>
				<th>Name</th>
				<th>Published</th>
				<th>Template</th>
				<th class="last">Created</th>
			</tr>
		</thead>
		<tbody>
		{% if pages %}
			{% for p in pages %}
				<tr>
					<td><a href="{{ p.get_edit_url }}">Edit</a> | <a href="{{ p.get_delete_url }}">Remove</a></td>
					<td>{{ p.name }}</td>
					<td>{% if p.publish %} Yes {% else %} No {% endif %}</td>
					<td>{{ p.template }}</td>
					<td>{{ p.created.year }}-{{ p.created.month }}-{{ p.created.day }}</td>
				</tr>
			{% endfor %}
		{% else %}
			No Page
		{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}