{% extends 'admin/base.html' %}

{% block content %}

	<h3>Pages</h3>
	<table>
		<thead>
			<tr>
				<th class="first menu">Action</th>
				<th>Name</th>
				<th class="menu">Published</th>
				<th>Template</th>
				<th class="last date">Created</th>
			</tr>
		</thead>
		<tbody>
		{% if pages.count > 0 %}
			{% for p in pages %}
				<tr>
					<td><a href="{{ p.get_delete_url }}"><img src="/resources/img/small/trash.png" border="0" title="Delete"></a> |
						<a href="{{ p.get_edit_url }}"><img src="/resources/img/small/edit.png" border="0" title="Edit"></a></td>
					<td>{{ p.name }}</td>
					<td>{% if p.publish %} Yes {% else %} No {% endif %}</td>
					<td>{{ p.template }}</td>
					<td>{{ p.created.year }}-{{ p.created.month }}-{{ p.created.day }}</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr><td colspan="5" style="text-align:left;font-size:15">No Page</td></tr>
		{% endif %}
		</tbody>
	</table>
	{% if paging.prev %}<a href="/pages/?page={{ paging.prev }}">Prev Posts</a> &nbsp;&nbsp;{% endif %}
	{% if paging.next %}<a href="/pages/?page={{ paging.next }}">More Post</a>{% endif %}
{% endblock %}