.ui-icon-meblog-home{
    background-image:url('/resources/img/small/home.png');
}

.ui-icon-meblog-contact{
    background-image:url('/resources/img/small/contact.png');
}

.ui-icon-meblog-fullsite{
    background-image:url('/resources/img/small/fullsite.png');
}
