<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="/resources/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/resources/css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/resources/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/resources/css/admin.css" />
</head>

<body>
<div class="container_12">
	<div class="grid_6">
		<div id="admin-menu">
			<ul id="menu-posts">
				<li class="top"><a href="#">Posts</a></li>
				<li class="item"><a href="#">New Post</a></li>
			</ul>
			<ul id="menu-cat">
				<li class="top"><a href="#">Categories</a></li>
				<li class="item"><a href="#">New Category</a></li>
			</ul>
		</div>
	</div>

	<div class="grid_6">
		&nbsp;
	</div>
	
	<div class="clear" style="height:100"></div>
	
	{% block content %}{% endblock %}
	
</div>
</body>
</html>