{% extends 'admin-base.html' %}

{% block content %}
<div class="grid_12">
	<table>
		<thead>
			<tr>
				<th class="first">Action</th>
				<th>Title</th>
				<th class="last">Created</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="#">Edit</a>
				<td>Quick Jump Into Django Programming</td>
				<td>12 Semptember 2010</td>
			</tr>
			<tr>
				<td><a href="#">Edit</a>
				<td>Quick Jump Into Django Programming</td>
				<td>12 Semptember 2010</td>
			</tr>
			<tr>
				<td><a href="#">Edit</a>
				<td>Quick Jump Into Django Programming</td>
				<td>12 Semptember 2010</td>
			</tr>
			<tr>
				<td><a href="#">Edit</a>
				<td>Quick Jump Into Django Programming</td>
				<td>12 Semptember 2010</td>
			</tr>
			<tr>
				<td><a href="#">Edit</a>
				<td>Quick Jump Into Django Programming</td>
				<td>12 Semptember 2010</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}